@page "/"
@using Database
@using Services.ModelServices
@inject IJSRuntime JSRuntime;
@inject ModelService ModelService;

@inject ModelDbContext ModelDbContext;

<div class="w-100 h-100" id="container"></div>
